{{>layout/header}}

    <!-- content -->
    <div class="bg-dark text-white p-5">
        <h1>{{name}}님 반갑습니다</h1>
    </div>
    <a href="/articles/new" class="btn btn-primary">게시글 만들기</a>
    <a href="/articles" class="btn btn-primary">게시글 보기</a>
{{>layout/footer}}